<?xml version="1.0" encoding="UTF-8"?>
<suite name="OrangeHRMSuite" parallel="classes" thread-count="3">
   <!--  <test name="UITests">
        <classes>
            <class name="com.demoproject.tests.LoginPageTest" />
            <class name="com.demoproject.tests.HomePageTest" />
        </classes>
    </test>
    <test name="BackendTests">
        <classes>
            <class name="com.demoproject.tests.DBVerficationTest" />
            <class name="com.demoproject.tests.ApiTest" />
        </classes>
    </test>-->
    <test name="DummyTests">
        <classes>
            <class name="com.demoproject.tests.DummyTest" />
            <class name="com.demoproject.tests.DummyTest2" />
        </classes>
    </test>
</suite>
